/* 

.welcome{

  background-color: coral ;
  border-radius: 10%;
  position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -300px;
    width: 600px;
    height: 450px;
}

.card{
  height: 200px;
  width: 200px;
  background-color: aqua;
} */

.box{
  height: 30px;
  width: 30px;
  border: 1px darkgray solid;
}

.box:hover {
  border: 3px gray solid;
}

.calender{
  margin-left: 20px;
  display: inline-block;
  height: auto;
  width: auto;  
}

.monthsBar{
  left: 30px;
  position: relative;
  font-size: 15px;
  display: inline-block;
  text-align: center;
  border: 0;
}

.months:hover{
  border: 0;
}


.row{
  margin-left: 30px;
  position:relative;
  top:-25px;
} 

.dayColumn{
  display: block;
  height: 30px;
}

