body{
  position: relative;
}

/* 

.welcome{

  background-color: coral ;
  border-radius: 10%;
  position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -300px;
    width: 600px;
    height: 450px;
}

.card{
  height: 200px;
  width: 200px;
  background-color: aqua;
} */

.box{
  height: 20px;
  width: 20px;
  border: 1px darkgray solid;
}

.box:hover {
  border: 3px gray solid;
}

.calender{
  margin-left: 20px;
  display: inline-block;
  height: auto;
  width: auto;
  position: absolute;
  border: pink 2px solid;
}

.monthsBar{
  left: 30px;
  position: relative;
  font-size: 10px;
  display: inline-block;
  text-align: center;
  border: 0;
  /* padding-bottom: 30px; */
}

.monthsBar:hover{
  border: 0;
}


.row{
  margin-left: 30px;
  position:relative;
  top:-17.5px;
  /* border: green 1px solid; */
} 

.dayColumn{
  display: block;
  height: 20px;
  font-size: 10px;
  top: 10px;
  position: relative;
  /* border: red 1px solid; */
}

.subject{
  height: 620px;
  width: 240px;
  border: blue 1px solid;
  position: relative;
  bottom:612.5px;
  left: 300px;  
}

.mood-name{
  border:0;
  text-align: center;
  position: absolute;
  top:40px;
  left:10%;
  height: 30px;
  font-weight: bold;
  font-size: 16px;
}

.mood-name:focus{
  outline: none;
}

.moods{
  position: relative;
  margin-left:40%;
  margin-top: 110px;
}

.mood-sign{
  margin-top: 25px;
}

.color-box{
  margin-left: 15px;
  margin-top: 10px;
}

.color-box.box:hover{
  border: 1px darkgray solid;;
}

