

.message-box{
  /* width:600px; */
  /* height: 450px; */
  background-color: coral ;
  border-radius: 10%;
  position: absolute;
  /* left:25%; */
  /* top: 25%;  */
  


    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -300px;
    width: 600px;
    height: 450px;
}

.card{
  height: 200px;
  width: 200px;
  background-color: aqua;
}